<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}opi.js{% endblock %}</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/dist/fonts/stylesheet.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.2/css/all.min.css">
</head>

<body>
    <div id="toolbar">
        {% block toolbar %}
        {% endblock %}
    </div>
    <div id="app-title">
        <a href="/">
            <img src="/static/opi.png" style="vertical-align: middle">
            opi.js
        </a>
    </div>
    <div id="sidebar">
        <ul class="menu">
            {% if parentUrl %}
            <li>
                <a href="{{ parentUrl }}">
                    <i class="far fa-fw fa-folder"></i> ..
                </a>
            </li>
            {% endif %}
            {% for f in tree.folders %}
            <li>
                <a href="/folders/{{ f.location }}">
                    <i class="far fa-fw fa-folder"></i> {{ f.name }}
                </a>
            </li>
            {% endfor %}
            {% for d in tree.files %}
            <li>
                <a href="/displays/{{ d.location }}">
                    <i class="far fa-fw fa-file"></i> {{ d.name }}
                </a>
            </li>
            {% endfor %}
        </ul>

        {% block sidebaraddition %}{% endblock %}
    </div>
    <div id="page">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
