{% extends 'base.html' %}

{% block title %}{{ display }} | opi.js{% endblock %}

{% block toolbar %}
    <button onclick="page.toggleEdit()">
        <i class="fas fa-fw fa-edit"></i>
        Toggle Edit
    </button>
{% endblock %}

{% block sidebaraddition %}
    <h2 style="margin-top: 2em">
        <i class="fab fa-fw fa-buffer"></i>
        WIDGETS
    </h2>

    <ul id="widgets" class="menu">
    </ul>
{% endblock %}

{% block content %}
    <div id="mydisplay" style="width: 100%; height: 100%"></div>

    <script type="module" src="/static/display.page.js"></script>
    <script>
        window.addEventListener('load', () => {
            page.loadDisplay('{{ baseUrl }}', '{{ display }}');
        });
    </script>
{% endblock %}
